a {
    text-decoration: none;
    color: black;
}

nav {
    width: 80dvw;
    margin-inline: 10dvw;
}
.dim-cards {
    height: 40dvh;
    aspect-ratio: 1/1;
}
.bg-img1 {
    background-image: url('../images/BUNGALOW_02/BUNGALOW_02_3.JPG');
    background-size: cover;
    background-position: 50%;
}
.bg-img2 {
    background-image: url('../images/BUNGALOW_07/BUNGALOW_07_1.JPG');
    background-size: cover;
    background-position: 50%;
}
.bg-img3 {
    background-image: url('../images/Autre_photo/bungalow_04.jpg');
    background-size: cover;
    background-position: 50%;
}

.contour {
    height: max-content;
}

