a {
    text-decoration: none;
    color: black;
}

.dim-cards {
    height: 41dvh;
    aspect-ratio: 1/1;
}

.contour {
    height: max-content;
}

.cards .hotel_img {
    position: relative;
    overflow: hidden;
}

.cards .hotel_img img {
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.cards .hotel_img .booking {
    position: absolute;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}

.cards .hotel_img:hover img {
    -webkit-transform: scale(1.19);
    -ms-transform: scale(1.19);
    transform: scale(1.19);
}

section {
    padding-block: 2rem;
}

.prices {
    color: #f33cfc;
}

.bkng {
    background-color: #f33cfc;
}

.bkng:hover {
    animation: hovering 0.6s linear;
    background-color: #945bfc;
}

@keyframes hovering {
    from {
        background-color: #f33cfc;
    }

    to {
        background-color: #945bfc;
    }
}

.hero_msg {
    font-size: 4rem;
}

.m-6 {
    margin-block: 25dvh;
}

.plates {
    width: 320px;
}

.prices-2 {
    color: #74bc44;
}


.plateImg, .plates-cards {
    overflow: hidden;
}

.plates-cards img {
    -webkit-transition: all 0.7s linear;
    -o-transition: all 0.7s linear;
    transition: all 0.7s linear;
}

.plates-cards{
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.plates-cards:hover img {
    -webkit-transform: scale(1.23) rotate(10deg);
    -ms-transform: scale(1.23) rotate(10deg);
    transform: scale(1.23) rotate(10deg);
}